<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>StudyPear</title>
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="/"
            ><img src="/images/pear.jpg" alt="Pear with glasses photo" width="130" height="130"
          /></a>
        </li>
        <li><a href="/connections/new">Start A New Connection</a></li>
        <li><a href="/connections">Connections</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>