<%- include('../partials/header.ejs')%>
<div class="about-text">
  <h3>About Us</h3>
  <p>
    Created by Mariam Conde, StudyPear helps you work with your peers who are
    taking the same classes, or have passed the course that you are taking and
    get your questions answered. Meet and make friends in the process! StudyPear
    helps students at UNC Charlotte connect with each other to find their ideal
    study partners StudyPear aims to remove the early semester awkwardness that
    comes along with searching for study partners. Even students with online
    classes can benefit by finding other students to study with. StudyPear
    offers a social platform that facilitates the creation of study groups,
    simplifies the search for an ideal study partner, and provides tailored
    access to tutoring opportunities.
  </p>
</div>
<%- include('../partials/footer.ejs')%>
