<%- include('../partials/header.ejs')%>
<div class = "error-picture"></div>
<div class = "error-text">
    <h3><%= error.status%> Error</h3> 
    <p><%= error.message%> </p>
</div>
</div>
<%- include('../partials/footer.ejs')%>