<%- include('../partials/header.ejs')%>
    <div class="home-text">
      <h3>Welcome to StudyPear site!</h3>
      <p>
        With StudyPear, you don't have to waste time searching blindly for a
        peer to study together. You can work with your peers who are taking the
        same classes, or have passed the course that you are taking and get your
        questions answered. Meet and make friends in the process!
      </p>
    </div>
    <%- include('../partials/footer.ejs')%>