<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connections</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="connections.css" />
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="index.html"
            ><img src="images/pear.jpg" alt="Pear with glasses photo" width="130" height="130"
          /></a>
        </li>
        <li><a href="newConnection.html">Start A New Connection</a></li>
        <li><a href="connections.html">Connections</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
    <div class="container-ul">
    <div class="connections-1">
      <h3>Study for Test</h3>
      <ul>
        <li><a href="connection.html">Calculus II Ch 1-3 Test Review</a></li>
        <li><a href="connection.html">ITIS 4166 Test 1</a></li>
        <li><a href="connection.html">Justice Introduction Test</a></li>
       
      </ul>
    </div>
    <div class="connections-2">
      <h3>Study for Final Exams</h3>
      <ul>
        <li><a href="connection.html">Human Centered Design Final Exam Review</a></li>
        <li><a href="connection.html">ITIS 3200 Final Exam Study Guide</a></li>
        <li><a href="connection.html">STAT 2100 Final Exam Quizlet</a></li>
      </ul>
    </div>
    <div class="connections-3">
      <h3>Complete Homework Assignments</h3>
      <ul>
        <li><a href="connection.html">Help with Calculus II Webwork</a></li>
        <li><a href="connection.html">Peer read my essay</a></li>
        <li><a href="connection.html">Work on Criminal Justice Study Guide</a></li>
      </ul>
    </div>
  </div>
    <footer>
      <ul class="footer-links">
        <li>©StudyPear</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>