<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Connection Details</title>
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="index.html"
            ><img src="images/pear.jpg" alt="Pear with glasses photo" width="130" height="130"
          /></a>
        </li>
        <li><a href="newConnection.html">Start A New Connection</a></li>
        <li><a href="connections.html">Connections</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
    <div class="title-info">
      <span>Calculus II Ch 1-3 Test Review</span>
      <button type="button"><a href="connections.html">Update</a></button>
      <button type="button"><a href="connections.html">Delete</a></button>

    </div>
    <table>
      <tr>
        <td>
          <img
            class="calc-img"
            src="images/calculus.jpeg"
            alt="calculus tools drawing"
            width="130"
            height="130"
          />
        </td>
        <td>
          <h4>Hosted by Sabrina Rin</h4>
          <p>
            Thursday, October 13, 2022 <br />
            5:30 PM - 6:30 PM <br />
            Fretwell Hall 1st Floor lounge area
          </p>
        </td>
      </tr>
    </table>

    <div class="details-info">
      <span>Details</span>
      <p>
        I am looking for group of students taking calculus II who would like to
        study for the upcoming test together!
      </p>
    </div>
    <footer>
      <ul class="footer-links">
        <li>©StudyPear</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>