<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Connection</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="index.html"
            ><img src="images/pear.jpg" alt="Pear with glasses photo" width="130" height="130"
          /></a>
        </li>
        <li><a href="newConnection.html">Start A New Connection</a></li>
        <li><a href="connections.html">Connections</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
    <div class="create-form">
    <form>
      <label>Topic <input type="text" placeholder="topic" /></label><br />
      <label>Title <input type="text" placeholder="title" /></label><br />
      <label>Host <input type="text" placeholder="host" /></label><br />
      <label>Details <input type="text" placeholder="description" /></label
      ><br />
      <label>Where <input type="text" placeholder="location" /></label><br />
      <label>When <input type="date" /></label><br />
      <label>Start <input type="time" id="startTime" /></label><br />
      <label>End <input type="time" id="endTime" /></label><br />
      <label>Image URL <input type="url" placeholder="imageURL"></label><br />
      <button type="button"><a href="connections.html">Create Connection</a></button>
    </form>
  </div>
    <footer>
      <ul class="footer-links">
        <li>©StudyPear</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>