<%- include('../partials/header.ejs')%>
<div class="create-form">
    <form action = '/connections' method = 'POST'>
      <label>Title <input type="text" placeholder="title" id="title" name="title" required/></label><br />
      <label>Topic <input type="text" placeholder="topic" id="topic" name="topic" required/></label><br />
      <label>Details <input type="text" placeholder="description" id="details" name="details" required minlength="10"/></label
      ><br />
      <label>When <input type="date" id="date" name="date" required/></label><br />
      <label>Where <input type="text" placeholder="location" id="location" name="location" required/></label><br />
      <label>Start Time <input type="time" id="startTime" name="startTime" required/></label><br />
      <label>End Time <input type="time" id="endTime" name="endTime" required/></label><br />
      <label>Image URL <input type="url" placeholder="image URL" id="imageURL" name="imageURL" required></label><br />
      <button>Submit</button>
    </form>
  </div>
<%- include('../partials/footer.ejs')%>